/* reset */
body{line-height:1;margin:0;padding:0}ol,ul{list-style:none;margin:0;padding:0}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}h1,h2,p{margin: 0}
/* reset */

@font-face {
  font-family: 'Viking';
  src: url('../fonts/Viking.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Viking.ttf')  format('truetype'); /* Safari, Android, iOS */
}

* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(to right top, #f6f2e9, #f7f2e5, #f9f2e1, #faf2dd, #fbf2d9);
	color: #000000;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	line-height: 1.2em;
	overflow-x: hidden;
}

header {
	width: 100vw;
	height: 100vh;
}

#logo {
	background-image: url('../img/blog/viking-burger.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
}


#burgerMount {
	background-color: #000000;
	width: 100vw;
	height: 800px;
	position: relative;
}

h1 {
	font-family: 'Viking', cursive;
	font-size: 8vw;
	line-height: 1em;
	color: #fe8e46;
	text-align: center;
	text-shadow: 3px 3px 1px #ffffff;
}


/* burger mount */

.burger-mount {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 47px 0;
    position: relative;
}

.burger-mount img {
	width: 250px;
}
.burger-mount img:nth-of-type(2) {
	width: 200px;
}

.animate-burger {
	display: none;
}


.bread-up {
	position: absolute;
	top: 75px;
}
.lettuce {
	position: absolute;
	top: 190px;
}
.onion {
	position: absolute;
	top: 300px;
}
.tomato {
	position: absolute;
	top: 400px;
}
.cheese {
	position: absolute;
	top: 460px;
}
.meat {
	position: absolute;
	top: 550px;
}
.sauce {
	position: absolute;
	top: 650px;
}
.bread-down {
	position: absolute;
	top: 700px;
}


@media screen and (min-width: 1024px) {
	.animate-burger {
		display: block;
    	margin-top: -25px;
	}

	.animate-burger:hover ~ .sauce {
		animation: sauceMount 0.2s ease-in-out forwards;
	}
	.animate-burger:hover ~ .meat {
		animation: meatMount 0.4s ease-in-out forwards;
	}
	.animate-burger:hover ~ .cheese {
		animation: cheeseMount 0.6s ease-in-out forwards;
	}
	.animate-burger:hover ~ .tomato {
		animation: tomatoMount 0.8s ease-in-out forwards;
	}
	.animate-burger:hover ~ .onion {
		animation: onionMount 1s ease-in-out forwards;
	}
	.animate-burger:hover ~ .lettuce {
		animation: lettuceMount 1.2s ease-in-out forwards;
	}
	.animate-burger:hover ~ .bread-up {
		animation: breadupMount 1.4s ease-in-out forwards;
	}


	.animate-burger:not(:hover) ~ .sauce {
		animation: sauceDismount 0.2s ease-in-out 1.2s backwards;
	}
	.animate-burger:not(:hover) ~ .meat {
		animation: meatDismount 0.4s ease-in-out 1s backwards;
	}
	.animate-burger:not(:hover) ~ .cheese {
		animation: cheeseDismount 0.6s ease-in-out 0.8s backwards;
	}
	.animate-burger:not(:hover) ~ .tomato {
		animation: tomatoDismount 0.8s ease-in-out 0.6s backwards;
	}
	.animate-burger:not(:hover) ~ .onion {
		animation: onionDismount 1s ease-in-out 0.4s backwards;
	}
	.animate-burger:not(:hover) ~ .lettuce {
		animation: lettuceDismount 1.2s ease-in-out 0.2s backwards;
	}
	.animate-burger:not(:hover) ~ .bread-up {
		animation: breadupDismount 1.4s ease-in-out backwards;
	}


	@keyframes breadupMount {
		0% {
			top: 75px;
		}
		100% {
			top: 525px;
		}
	}
	@keyframes lettuceMount {
		0% {
			top: 190px;
		}
		100% {
			top: 545px;
		}
	}
	@keyframes onionMount {
		0% {
			top: 300px;
		}
		100% {
			top: 575px;
		}
	}
	@keyframes tomatoMount {
		0% {
			top: 400px;
		}
		100% {
			top: 620px;
		}
	}
	@keyframes cheeseMount {
		0% {
			top: 460px;
		}
		100% {
			top: 640px;
		}
	}
	@keyframes meatMount {
		0% {
			top: 550px;
		}
		100% {
			top: 650px;
		}
	}
	@keyframes sauceMount {
		0% {
			top: 650px;
		}
		100% {
			top: 690px;
		}
	}


	@keyframes breadupDismount {
		0% {
			top: 525px;
		}
		100% {
			top: 75px;
		}
	}
	@keyframes lettuceDismount {
		0% {
			top: 545px;
		}
		100% {
			top: 190px;
		}
	}
	@keyframes onionDismount {
		0% {
			top: 575px;
		}
		100% {
			top: 300px;
		}
	}
	@keyframes tomatoDismount {
		0% {
			top: 620px;
		}
		100% {
			top: 400px;
		}
	}
	@keyframes cheeseDismount {
		0% {
			top: 640px;
		}
		100% {
			top: 460px;
		}
	}
	@keyframes meatDismount {
		0% {
			top: 650px;
		}
		100% {
			top: 550px;
		}
	}
	@keyframes sauceDismount {
		0% {
			top: 690px;
		}
		100% {
			top: 650px;
		}
	}

}
/* burger mount */


#burgerPerfect {
	background-image: url('../img/blog/perfect-burger.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	width: 100vw;
	height: 500px;
}

#burgerTop {
	background: #000000;
	color: #ffffff;
	width: 100vw;
	height: 100vh;
	padding: 30px;
	font-size: 1.5em;
}
#burgerTop p {
	padding: 10px 0;
}
#burgerTop ol {
	list-style: decimal;
	padding: 20px 50px;
}

#burgerTop ol li {
	padding: 10px;
}

#burgerPerfect2 {
	background-image: url('../img/blog/perfect-burger-reverse.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	width: 100vw;
	height: 300px;
}

#burgerFin {
	background: #000000;
	color: #ffffff;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#burgerFin p {
	font-family: 'Viking', cursive;
	font-size: 20vw;
}